*/__pycache__/
/.vscode/
.vscode
__pycache__
PeersApp/settings/dev.py
*.pyc
.env
.vscode
base/__pycache__/serializers.cpython-39.pyc
base/__pycache__/views.cpython-39.pyc
PeersApp/__pycache__/urls.cpython-39.pyc
peers_api/__pycache__
PeersApp/settings/__pycache__
db.sqlite3
